server:
  address: 0.0.0.0
  port: 80
  servlet:
    context-path: /

# Spring Configuration
spring:
  jackson:
    # Don't include null properties in JSON
    default-property-inclusion: non_null
  data:
    # Redis - This is used for caching
    redis:
      host: "127.0.0.1"
      port: 6379
      database: 1
      auth: "" # Leave blank for no auth

# The URL of the API
public-url: http://localhost

# MaxMind Configuration
# This is used for IP Geolocation
maxmind:
  license: ""