server:
  address: 0.0.0.0
  port: 80
  servlet:
    context-path: /

# Spring Configuration
spring:
  # Use virtual threads
  threads:
    virtual:
      enabled: true

  # Don't serialize null values by default with Jackson
  jackson:
    default-property-inclusion: non_null
    mapper:
      sort-properties-alphabetically: false

logging:
  pattern:
    console: "%level %logger{36} - %msg%n"
  level:
    xyz.mcutils.backend: info

mc-utils:
  # The URL of the API
  public-url: http://localhost

  # Leave empty to disable
  http-proxy:

  # HTTP client connection pool (for outbound requests).
  http-client:
    max-total-connections: 1000
    max-connections-per-route: 100
    connect-timeout-ms: 2500
    socket-timeout-ms: 10000
    connection-time-to-live-seconds: 60

  # MongoDB - Used for cape storage etc.
  mongo:
    uri: "mongodb://localhost:27017/mcutils" # With auth: mongodb://username:password@host:27017/mcutils
    max-connection-pool-size: 250
    min-connection-pool-size: 25

  # Redis - This is used for caching
  redis:
    host: "127.0.0.1"
    port: 6379
    database: 1
    auth: "" # Leave blank for no auth

  # S3 Storage
  s3:
    endpoint: ""
    accessKey: ""
    secretKey: ""

  # Cache Settings
  cache:
    player:
      enabled: true
    servers:
      enabled: true
    dns:
      enabled: true
      ttl: 5 # in minutes
    s3:
      enabled: true

  # Rendering Settings
  renderer:
    skin:
      enabled: true
      cache: true
      limits:
        min_size: 64
        max_size: 768
    cape:
      enabled: true
      cache: true
      limits:
        min_size: 64
        max_size: 768
    server-preview:
      enabled: true
      cache: true
      limits:
        min_size: 64
        max_size: 768

  # Server Pinger Settings
  server-pinger:
    blacklisted-subnets: >-
      10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.0/8,
      169.254.0.0/16,100.64.0.0/10,224.0.0.0/4,240.0.0.0/4,
      ::1/128,fc00::/7,fe80::/10,ff00::/8
    java:
      timeout: 1500
    bedrock:
      timeout: 1500

  # Used for IP lookups
  maxmind:
    # Leave blank to disable lookups
    license: ""

  # The Bearer token used for authenticating the "/metrics" route.
  # Leave blank to disable auth.
  metrics-token:
