server:
  address: 0.0.0.0
  port: 80
  servlet:
    context-path: /

# Spring Configuration
spring:
  # Use virtual threads
  threads:
    virtual:
      enabled: true

  # Don't serialize null values by default with Jackson
  jackson:
    default-property-inclusion: non_null
    mapper:
      sort-properties-alphabetically: false

logging:
  pattern:
    console: "%level %logger{36} - %msg%n"
  level:
    xyz.mcutils.backend: info

mc-utils:
  # The URL of the API
  public-url: http://localhost

  # Redis - This is used for caching
  redis:
    host: "127.0.0.1"
    port: 6379
    database: 1
    auth: "" # Leave blank for no auth

  # S3 Storage
  s3:
    endpoint: ""
    accessKey: ""
    secretKey: ""

  # Cache Settings
  cache:
    player:
      enabled: true
    servers:
      enabled: true
    s3:
      enabled: true
      ttl: 60 # in minutes

  # Rendering Settings
  renderer:
    skin:
      enabled: true
      cache: true
      limits:
        min_size: 64
        max_size: 1024
    server-preview:
      enabled: true
      cache: true
      limits:
        min_size: 64
        max_size: 1024

  # Server Pinger Settings
  server-pinger:
    java:
      timeout: 1500
    bedrock:
      timeout: 1500

  # Used for IP lookups
  maxmind:
    # Leave blank to disable lookups
    license: ""

  # The Bearer token used for authenticating the "/metrics" route.
  # Leave blank to disable auth.
  metrics-token: